@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
body{
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: 95vw;
  background-color: white;
}
.packer{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-template-areas: 
    'side head head head head head'
    'side main main main main main'
    'side main main main main main'
    'side main main main main main'
    'side main main main main main'
    'side main main main main main'
    'side main main main main main'
    'footer footer footer footer footer footer';
    height: 100vh; 
}

.top{
    grid-area: head;
}

.leftSide{
    grid-area: side;
}

.main{
    grid-area: main;
    display: flex;
}

.footer{
    grid-area: footer;
}

.opexPic{
    height: 20px;
    width: 20px;
}

.leftOne{
    display: flex;
    gap: 0.7em;
    align-items: center;
    justify-content: last baseline;
}

.opex{
    padding-top: 1.5px;
}

.team{
    list-style: none;
}

.container{
  width: 72em;
  display: grid;
  border: 1px solid grey;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  grid-template-rows: repeat(2,auto-fit);
  grid-column-gap: 1em;
  overflow-y: scroll;
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .3em;
}
.rwd-table td:last-child {
  padding-bottom: .3em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th{
  text-align: left;
}
.rwd-table td{
  text-align: center;
}
.rwd-table td:first-child{
  text-align: left;
}  
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  margin-bottom: 4px;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 0.2em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}


h3{
  height: 1em;
  padding: 2px 2px;
  margin: 4px 4px;
}

.rightMain{
  border: 1px solid blue;
  width: 20em;
}

.form{
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 40vh;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.inputBox{
  position: relative;
  width: 250px;
}

.inputBox input{
  width: 100%;
  padding: 10px;
  border: 1px solid #0f172a;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  transition: 0.5s;
  box-sizing: border-box;
}

.inputBox span{
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  color: #0f1721;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 610;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
  color: #1d4ed8;
  transform: translateX(10px) translateY(-8px);
  font-size: 0.65em;
  padding: 0px 8px;
  background-color: #fff;
  letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus{
  border: 1.5px solid #1d4ed8;
}

.btn{
  width: 250px;
  display: flex;
  justify-content: flex-end;
}


.btn button{
  padding: 8px;
  width: 50%;
  font-size: 1.1em;
  font-weight: 600;
  border: 1px solid #0f172a;
  border-radius: 5px;
  background-color: #3b82f6;
  color: #fff;
}

.hide{
  visibility: hidden;
}

input:focus ~ .hide{
  visibility: visible;
}

.tasks{
  height: 25em;
  overflow-y: scroll;
}

.list{


}

.un{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items: center;
  font-weight: 700;
  background-color: #082f49;
  border: 1px solid #e2e8f0;
  border-radius: 0.6em;
}

.un div{
  color: #f59e0b;
}
.un div:first-child{
  color: #f8fafc;
  padding-top: 3px;
}

.un div:last-child{
  color: #7c3aed;
}